<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
     <!--移动距离的单位，m或者km-->
     <add key="DistanceUnit" value="km"></add>
     <!--移动距离保留的小数位数-->
     <add key="Decimal" value="4"></add>    
   </appSettings>
</configuration>