<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
     
     <!--以小时为单位的统计结果的excel的sheet名称-->
     <add key="excel1_sheet1_name" value="分时统计结果"></add>

     <!--分时统计结果excel的各个列名称-->
     <add key="excel1_sheet1_column1" value="车牌号"></add>
     <add key="excel1_sheet1_column2" value="开始时间"></add>
     <add key="excel1_sheet1_column3" value="结束时间"></add>
     <add key="excel1_sheet1_column4" value="空驶距离"></add>
     <add key="excel1_sheet1_column5" value="重车行驶距离"></add>
     <add key="excel1_sheet1_column6" value="空驶时长"></add>
     <add key="excel1_sheet1_column7" value="重车行驶时长"></add>
     <add key="excel1_sheet1_column8" value="时间空驶率"></add>
     <add key="excel1_sheet1_column9" value="空间空驶率"></add>
     
     <!--移动距离的单位，m或者km-->
     <add key="DistanceUnit" value="km"></add>
     <!--移动距离保留的小数位数-->
     <add key="DistanceDecimal" value="4"></add>
     
      <!--空驶率（百分比制）保留的小数位数-->
     <add key="EmptyLoadedRateDecimal" value="2"></add>
     
     
     
     
   </appSettings>
</configuration>