<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
     
     <!--以小时为单位的统计结果的excel的sheet名称-->
     <!--excel1的sheet1里存储的是单位小时内的空驶率 -->
     <add key="excel1_sheet1_name" value="小时平均行驶数据"></add>

     <!--分时统计结果excel的各个列名称-->
     <add key="excel1_sheet1_column1" value="车牌号"></add>
     <add key="excel1_sheet1_column2" value="开始时间"></add>
     <add key="excel1_sheet1_column3" value="结束时间"></add>
     <add key="excel1_sheet1_column4" value="空驶距离(单位km)"></add>
     <add key="excel1_sheet1_column5" value="重车行驶距离(单位km)"></add>
     <add key="excel1_sheet1_column6" value="空驶时长(单位s)"></add>
     <add key="excel1_sheet1_column7" value="重车行驶时长(单位s)"></add>
     <add key="excel1_sheet1_column8" value="时间空驶率"></add>
     <add key="excel1_sheet1_column9" value="空间空驶率"></add>
     
     <!--移动距离的单位，m或者km-->
     <add key="DistanceUnit" value="km"></add>
     <!--移动距离保留的小数位数-->
     <add key="DistanceDecimal" value="4"></add>
     
      <!--空驶率（百分比制）保留的小数位数-->
     <add key="EmptyLoadedRateDecimal" value="2"></add>
     
     <!--可预测的时间范围，单位为秒-->
     <!--考虑这样一种情况，假设当前记录的时间戳为2017-1-6 00:59:40，下一条记录的时间戳为2017-1-6 01:00:10，
     两条时间间隔为30s，此时系统计算0点到1点的移动距离时会主动预估汽车20s的移动距离-->
     <!--再考虑这样一种情况，假设当前记录的时间戳为2017-1-6 00:59:40，下一条记录的时间戳为2017-1-6 06:00:10，
     此时两条记录的时间间隔超过了60s，此时系统主动放弃对于0点到1点剩余的20s的移动距离的预估-->
     <add key="PredictableRange" value="60"></add>
     
     <!--日平均统计结果的excel的sheet名称-->
     <add key="excel1_sheet2_name" value="日平均行驶数据"></add>
     
   </appSettings>
</configuration>